# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnpm-store
/.yarn/

# production
/build
/.next/
/out/

# misc
.DS_Store
*.pem

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# pnpm-lock.yaml - if you are using pnpm workspace, you might want to ignore this in sub-projects
pnpm-lock.yaml